body{
    background-image: url(img/recommendation_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1{
    font-style:italic;
    font-weight: bolder;
    background-color: orange;
    margin: 0;
    height: 60px;
    text-align: center;
    border-bottom: 4px solid black;
}
h2{
    font-style: italic;
    font-weight: bolder;
    margin: 5%;
    border-bottom: 3px solid rgb(225, 209, 27);
    opacity: 0.9;
}
div.transbox{
    background-color: white;
    margin: auto;
    margin-top: 250px;
    width: 300px;
    height: 250px;
    padding: 10px;
    border-radius: 40px;
    border: 3px solid black;
    opacity: 0.65;
    box-shadow: 0px 5px 50px cyan;
    transition: all 150ms;
}
.transbox:hover{
    opacity: 1;
}
form {
    margin-top: 50px;
    color: black;
    font-size: large;
    text-align: left;
    font-style: italic;
    font-weight: 800;
}
input,select{
    padding: 4px,6px;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #212121;
}
div.searchbox{
    margin: auto;
    padding: auto;
    background-color: hwb(177 51% 15%);
    opacity: 0.5;
    text-align: center;
    font-style: italic;
    height: fit-content;
    border: 2px solid #212121;
    border-radius: 10px;
    margin: 10%;
    margin-top: 5%;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    
}
.searchbox:hover{
    opacity: 0.9;
    background-color: rgb(7, 100, 116);
    color: antiquewhite;
    transition: all 300ms;
}
#view{
    text-align: center;
}
